<div class="container">
  <mat-card *ngIf="album">
    <mat-card-header>
      <mat-card-title>{{ album.title }}</mat-card-title>
      <mat-card-subtitle *ngIf="album.user">
        <a routerLink="/users/{{ album.user.id }}">{{ album.user.name }}</a>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="1:1" gutterSize="25">
        <mat-grid-tile *ngFor="let p of photos">
          <a routerLink="/photos/{{ p.id }}">
            <img [src]="p.url" [alt]="p.title" />
          </a>

          <mat-grid-tile-footer>{{ p.title }}</mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
