<div class="paginator" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
  <button mat-mini-fab [disabled]="!hasPreviousPage" (click)="currentPage = currentPage - 1">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button *ngIf="leftCollapsed" mat-mini-fab (click)="changePage(1)" [disabled]="1 === currentPage">
    1
  </button>

  <span *ngIf="leftCollapsed">...</span>

  <button
    mat-mini-fab
    *ngFor="let page of pages"
    (click)="changePage(page)"
    [disabled]="page === currentPage"
  >
    {{ page }}
  </button>

  <span *ngIf="rightCollapsed">...</span>

  <button
    *ngIf="rightCollapsed"
    mat-mini-fab
    (click)="changePage(totalPages)"
    [disabled]="totalPages === currentPage"
  >
    {{ totalPages }}
  </button>

  <button mat-mini-fab [disabled]="!hasNextPage" (click)="currentPage = currentPage + 1">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
