<mat-drawer-container autosize>
  <div class="root">
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row center">
        <button mat-button routerLink="/">
          NG-JSONPLACEHOLDER-CLIENT
        </button>

        <mat-nav-list fxLayout>
          <a mat-list-item routerLink="/users">Users</a>
          <a mat-list-item routerLink="/posts">Posts</a>
          <a mat-list-item routerLink="/todos">Todos</a>
          <!-- <mat-list-item>
            <a routerLink="/comments">Comments</a>
          </mat-list-item> -->
          <a mat-list-item routerLink="/albums">Albums</a>
          <a mat-list-item routerLink="/photos">Photos</a>
        </mat-nav-list>
      </mat-toolbar-row>
    </mat-toolbar>

    <main class="main">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <a href="https://github.com/lyskos97" target="_blank">@lyskos97</a>
        </mat-toolbar-row>
      </mat-toolbar>
    </footer>
  </div>
</mat-drawer-container>
