<div class="container">
  <div class="feed">
    <h1 class="mat-display-1">Posts <mat-icon>rss_feed</mat-icon></h1>

    <mat-card *ngIf="posts.loading; else loaded" fxLayoutAlign="center">
      <mat-spinner [diameter]="50"></mat-spinner>
    </mat-card>

    <mat-card #loaded *ngFor="let post of posts.data" class="post-card">
      <a routerLink="/posts/{{ post.id }}">
        <mat-card-title>{{ post.title }}</mat-card-title>
      </a>

      <mat-card-content>{{ post.body }}</mat-card-content>

      <div>
        <button
          mat-stroked-button
          (click)="
            post.comments$ = createCommentLoader(post.id); post.showComments = !post.showComments
          "
        >
          {{ post.showComments ? 'Hide comments' : 'Show comments' }}
        </button>

        <div *ngIf="post.showComments && post.comments$ | async as comments" style="padding: 5px;">
          <mat-divider></mat-divider>

          <h4 class="mat-h3" style="margin-top: 10px;">Comments</h4>

          <mat-card
            *ngFor="let comment of comments"
            class="mat-elevation-z3"
            style="margin-bottom: 5px;"
          >
            <mat-card-content>
              <p class="mat-body-2">
                <a routerLink="/comments/{{ comment.id }}">{{ comment.name }}</a>
              </p>
              <p class="mat-body-1">{{ comment.body }}</p>
            </mat-card-content>

            <mat-card-subtitle>
              <span class="mat-caption">by {{ comment.email }}</span
              >ng
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </mat-card>

    <app-paginator
      [currentPage]="page"
      [totalPages]="totalPages"
      [visiblePages]="5"
      [disabled]="posts.loading"
      (pageChange)="handlePageChange($event)"
    ></app-paginator>
  </div>
</div>
