<div class="container">
  <h1 class="mat-display-1">Users <mat-icon>person</mat-icon></h1>

  <div fxLayout="row wrap" fxLayoutGap="3%">
    <mat-card *ngFor="let user of users" fxFlex="47%" class="user-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title
            >{{ user.name }}
            <span class="mat-caption id"
              >ID: {{ user.id }}</span
            ></mat-card-title
          >
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-actions>
        <div fxLayout fxLayoutAlign="end">
          <a
            mat-stroked-button
            color="accent"
            href="http://{{ user.website }}"
            target="_blank"
            >Website <mat-icon>call_made</mat-icon></a
          >
          <a
            mat-stroked-button
            color="accent"
            [routerLink]="'/users/' + user.id"
            >Details</a
          >
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- <div>
  <table mat-table [dataSource]="users">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <th mat-cell *matCellDef="let user">{{ user.id }}</th>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <th mat-cell *matCellDef="let user">{{ user.name }}</th>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <th mat-cell *matCellDef="let user">{{ user.email }}</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="TABLE_COLUMNS"></tr>
    <tr mat-row *matRowDef="let row; columns: TABLE_COLUMNS"></tr>
  </table>
</div> -->
