<div class="container post" fxLayout fxLayoutAlign="center">
  <mat-card *ngIf="post.loading; else loaded">
    <mat-spinner [diameter]="50"></mat-spinner>
  </mat-card>

  <ng-template #loaded>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ post.data.title }}</mat-card-title>
        <mat-card-subtitle
          >by
          <a routerLink="/users/{{ post.data.author.id }}">{{ post.data.author.name }}</a></mat-card-subtitle
        >
      </mat-card-header>

      <mat-card-content>{{ post.data.body }}</mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-footer class="comments">
        <h3 class="mat-h3">Comments</h3>

        <mat-card *ngFor="let comment of post.data.comments" class="comment mat-elevation-z4">
          <mat-card-subtitle>by {{ comment.email }}</mat-card-subtitle>

          <mat-card-content>
            <h4 class="mat-body-2">{{ comment.name }}</h4>
            <p class="mat-body-1">{{ comment.body }}</p>
          </mat-card-content>
        </mat-card>
      </mat-card-footer>
    </mat-card>
  </ng-template>
</div>
