<mat-card class="mat-elevation-z4">
  <mat-card-title>
    <h3 class="mat-title"><mat-icon>work</mat-icon> Company</h3>
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div>
          <h4 class="mat-caption">Name</h4>
          <p>{{ company.name }}</p>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-list-item>
        <div>
          <h4 class="mat-caption">BS</h4>
          <p>{{ company.bs }}</p>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-list-item>
        <div>
          <h4 class="mat-caption">Catch phrase</h4>
          <p>{{ company.catchPhrase }}</p>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
