<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutGap="2%">
      <div fxFlex="48%">
        <app-user-address-card [address]="user.address"></app-user-address-card>
      </div>

      <div fxFlex="48%">
        <app-user-company-card [company]="user.company"></app-user-company-card>
      </div>
    </mat-card-content>

    <mat-card-content>
      <mat-expansion-panel (opened)="loadPosts()">
        <mat-expansion-panel-header>Posts</mat-expansion-panel-header>

        <div>
          <div *ngFor="let post of posts">
            <mat-card class="mat-elevation-z3" style="margin-bottom: 10px;">
              <mat-card-title>
                <span class="mat-h2">{{ post.title }}</span>
              </mat-card-title>
              <mat-card-content>{{ post.body }}</mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions fxLayout fxLayoutAlign="end">
                <a mat-stroked-button routerLink="/posts/{{ post.id }}"
                  >Go to the post <mat-icon>chevron_right</mat-icon></a
                >
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Comments</mat-expansion-panel-header>

        <div>...</div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Albums</mat-expansion-panel-header>

        <div>...</div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Photos</mat-expansion-panel-header>

        <div>...</div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Todos</mat-expansion-panel-header>

        <div>...</div>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
