<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutGap="2%">
      <mat-card fxFlex="48%" class="mat-elevation-z4">
        <mat-card-title>
          <h3 class="mat-title"><mat-icon>apartment</mat-icon> Address</h3>
        </mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content>
          <mat-list fxLayout="row wrap" fxLayoutGap="2%">
            <mat-list-item fxFlex="48%">
              <div>
                <h4 class="mat-caption">City</h4>
                <p>{{ user.address.city }}</p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item fxFlex="48%">
              <div>
                <h4 class="mat-caption">Street</h4>
                <p>{{ user.address.street }}</p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item fxFlex="48%">
              <div>
                <h4 class="mat-caption">Suite</h4>
                <p>{{ user.address.suite }}</p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item fxFlex="48%">
              <div>
                <h4 class="mat-caption">Zipcode</h4>
                <p>{{ user.address.zipcode }}</p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item fxFlex="48%">
              <div>
                <h4 class="mat-caption">Geo</h4>
                <p>
                  lat {{ user.address.geo.lat }}, lng {{ user.address.geo.lng }}
                </p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="48%" class="mat-elevation-z4">
        <mat-card-title>
          <h3 class="mat-title"><mat-icon>work</mat-icon> Company</h3>
        </mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <div>
                <h4 class="mat-caption">Name</h4>
                <p>{{ user.company.name }}</p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item>
              <div>
                <h4 class="mat-caption">BS</h4>
                <p>{{ user.company.bs }}</p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item>
              <div>
                <h4 class="mat-caption">Catch phrase</h4>
                <p>{{ user.company.catchPhrase }}</p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-card-content>

    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Posts</mat-expansion-panel-header>

        <div>...</div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Comments</mat-expansion-panel-header>

        <div>...</div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Albums</mat-expansion-panel-header>

        <div>...</div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Photos</mat-expansion-panel-header>

        <div>...</div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Todos</mat-expansion-panel-header>

        <div>...</div>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
